body {
  background-color: #0b0b0b34;
  padding: 20px;
  /* border: 3px solid tomato; */
  font-family: 'Helvetica Neue', 'Roboto', 'Verdana', 'Tahoma', sans-serif;
  font-style: italic;
  line-height: 1.2;
  word-spacing: 0px;
}

.ss-main {
  margin-left: 10%;
  width: 30%;
}

img {
  display: block;
  border-radius: 8px;

  width: 60%;
  object-fit: cover;

  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  box-sizing: content-box;
  margin-left: 50px;
  margin-right: 50px;
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 40px;
  padding-bottom: 20px;
  /* border: 3px solid #5897fb; */
}

p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

p,
h1,
h2,
h3,
a {
  font-style: italic;
  letter-spacing: normal;
  word-spacing: 0px;
  margin: 12px 12px 0 12px;
}

a {
  color: rgb(35, 33, 29);
}

a:hover,
:visited {
  color: #5897fb;
}

.is-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.loader {
  font-size: 0;
  position: relative;
  margin-left: 50%;
  display: flex;
  justify-content: space-between;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #fff;
  border-bottom-color: #5897fb;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
